/* ANCHOR Components */

/* ANCHOR Pulsanti */
.btn.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
}

.btn.btn-green {
    color: #fff;
    background-color: #1ABC9C;
    /* border: 1px solid #fff; */
}
/* /Pulsanti */

/* ANCHOR Divisore */
.div-star .bar {
    height: 5px;
    width: 10px;
    border-radius: 25px;
}

.div-star i {
    font-size: 1.5rem;
} 

.div-star.div-star-light .bar {
    background-color: #fff;
}
.div-star.div-star-light i {
    color: #fff;
}

.div-star.div-star-dark .bar {
    background-color: #2C3E50;
}
.div-star.div-star-dark i {
    color: #2C3E50;
}
/* /Divisore */

/*  */

/* /Components */

/* ANCHOR Header */
header {
    background-color: #2C3E50;
}

header .navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-toggler {
    color: #fff;
}

header .navbar-dark .navbar-brand {
    font-weight: bold;
}

header .navbar-dark .navbar-toggler {
    border-color: #fff;
}

header .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .10rem;
}
/* /Header */

/* ANCHOR MAIN */

/* ANCHOR HERO*/
main {
    margin-top: 50px;
}
main .hero {
    background-color: #1ABC9C;
    color: #fff;
}

main .hero .logo {
    width: 20%;
    border-radius: 50%;
} 
/* /HERO */

/* ANCHOR PORTFOLIO */

main .portfolio a {
    display: inline-block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

main .portfolio a img {
    width: 100%;
}

main .portfolio a:hover:after {
    position: absolute;
    display: flex;
    content: "+";
    background-color: #1ABC9C;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 5rem;
}

/* /PORTFOLIO */

/* ANCHOR ABOUT */
main .about {
    background-color: #1ABC9C;
    color: #fff;
}
/* /ABOUT */

/* ANCHOR CONTACT */
main .contact input,
main .contact textarea {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
}

main .contact input:focus,
main .contact textarea:focus {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid;
}

main .contact textarea {
    height: 100px;
}

/* /CONTACT */
/* ANCHOR MAIN */

/* ANCHOR FOOTER */
footer {
    background-color: #000;
    color: #fff;
}

footer .top {
    background-color: #3A546D;
}

footer .top .info .icons {
    display: flex;
    justify-content: center;
}

footer .top .info .icons i {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

footer .bottom{
    background-color: #2C3E50;
}
/* /FOOTER */

