/* ANCHOR Debug */
[class*="d container"] {
    border: 2px solid red;
}

[class*="d row"] {
    border: 2px solid green;
}

[class*="d col"] {
    border: 2px solid blue;
}
/* /Debug */

/* ANCHOR Header */
header {
    background-color: #2C3E50;
}

header a {
    color: #fff;
    text-decoration: none;
}

header .content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: darksalmon; */
}

header .content nav {
    width: 100%;
}

header .content ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: darkseagreen; */
}

header .content ul li {
    padding: 0 10px;
    /* background-color: darkslateblue; */
}

/* /Header */

/* ANCHOR MAIN */
/* ANCHOR HERO SECTION */
main .hero {
    height: 100px;
    background-color: #1ABC9C;
}

main .hero .image img {
    width: 100%;
    height: 100%;
    /* background-color: darkgrey; */
}

/* /HERO_SECTION */
/* ANCHOR MAIN */